.hero {
  background: $blue;
  position: relative;
  background-image: url(../images/header_pattern@2x.png);
  background-size: 225px 346px;
}

.hero__wrapper {
  max-width: 900px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  padding: 40px 0;
  @include media($break-s2) {
    padding: 60px 0;
  }

  @include media($break-m) {
    padding: 100px 0;
  }
}

.hero__title {
  text-shadow: 0px 0px 20px $blue;
  padding: 1em 0;
  color: $white;
  margin: 0;
  font-size: 1.7em;

  @include media($break-s2) {
    font-size: 2em;
  }

  @include media($break-m) {
    font-size: 2.3em;
  }
}

.hero__subhead {
  color: $white;
}
