// *************************************
//
//   Variables
//   -> Project variables
//
// *************************************

// -------------------------------------
//   Breakpoints
// -------------------------------------

$break-small: 30em; //480px
$break-small2: 37.5em; //600px
$break-medium: 48em; //768px
$break-medium2: 57.5em; //920px
$break-large: 64em; //1024px
$break-xtra-large: 80em; //1280px

$break-s: $break-small;
$break-s2: $break-small2;
$break-m: $break-medium;
$break-m2: $break-medium2;
$break-l: $break-large;
$break-xl: $break-xtra-large;


// -------------------------------------
//   Color
// -------------------------------------
$white: #ffffff;
$blue: #08B5E5;
$dark-blue: #07A2CD;
$dark-gray: #596A72;
$medium-gray: #979797;
$light-gray: #F4F4F5;
$lightest-gray: #F0F0F0;
$red: #ED143D;
$black: #121D24;


// -------------------------------------
//   Typography
// -------------------------------------


// ----- Declarative names ----- //
